@import url(https://fonts.googleapis.com/css?family=Bangers);

.root {
  h1 {
    font-family: "Bangers", cursive;
    font-weight: 400;
  }

  button {
    background-color: #373277;
    color: #fff;
    margin-top: 150px;
    font-family: cursive;
    font-size: 30px;
  }
}
